@media screen and (max-width: 480px){
    a.btn.btn-primary {
     padding: 0.5rem 0.3rem;
     margin-top:50px;
    }
    a.btn.btn-secondary {
     padding: 0.5rem 0.3rem;
     margin-top:50px;
    }
    input.reservation_form {
      width:110px;
      position: relative;
    }
  
    input.info_form {
      width:230px;
      position: relative;
    }
    .btn.btn-info {
      padding: 0.3rem 2rem;
      position: relative;
      margin-left:10px;
      bottom:8px;
    }
    #now .icon img {
        width: 30px;
        height:50px;
    }
    
    img{
        width: 30px;
    }
    
    div#now {
        margin-left:50px;
        font-size:10px;
    }
    
    .mt-4 {
        font-size:10px;
    }
    #sumpri {
      width:120px;
    }
    #pri {
      width:145px;
    }
    .sale_form {
       position:relative;
       top:125px;
       left:120px;
       width:80%;
    }
    .btn.btn-info.sale {
      position:relative;
       top:117px;
       left:100px;
       width:25%;
       text-align: center;
    }
    .top-menu {
      margin-top:50px;
    }
    .receipt-name {
      border-bottom: 2px solid black;
      width: 100%;
      font-size: 30px;
      margin-top: 20px;
      margin: 0 auto;
  }
  .receipt-date {
    float: right;
    margin-right: 70px;
  }
  .receipt-company {
    float: right;
    margin-left: 50px;
  }
  .btn.btn-success {
    padding: 0.3rem 2rem;
    position: relative;
    margin-left:10px;
    bottom:8px;
   }
}
@media screen and (min-width: 481px) {
    a.btn.btn-primary {
      padding: 0.3rem 1rem;
      position: relative;
      top:50px;
      left:30px;
     }
     a.btn.btn-secondary {
      padding: 0.3rem 1rem;
      position: relative;
      top:50px;
      left:30px;
     }
     input.reservation_form{
      width:180px;
      position: relative;
      top:30px;
      left:50px;
    }
    input.info_form {
      width:230px;
      position: relative;
      top:30px;
      margin-left:180px;
    }
    .btn.btn-info {
      padding: 0.3rem 2rem;
      position: relative;
      margin-left:10px;
      top:30px;
      left:10px;
    }
    #now .icon img {
      width: 30px;
      height:30px;
   }

    img{
        width: 30px;
     }

    div#now {
        margin-left:450px;
        font-size:10px;
    }

    .mt-4 {
        font-size:10px;
    }
    td input #mt-2#mb-2 {
      width:30px;
    }
    #sumpri {
      width:120px;
    }
    .sale_form {
      position:relative;
      top:115px;
      left:440px;
   }
   .btn.btn-info.sale {
     position:relative;
      top:115px;
      left:440px;
      text-align: center;
   }
   .top-menu {
    margin-bottom:300px;
  }
  .btn.btn-success {
    padding: 0.3rem 2rem;
    position: relative;
    margin-left:10px;
    top:30px;
    left:60px;
   }
}

@media screen and (min-width: 1267px) {
  a.btn.btn-primary {
    padding: 0.5rem 1.5rem;
    position: relative;
    right:200px;
   }
   a.btn.btn-secondary {
    padding: 0.5rem 1.5rem;
    position: relative;
    right:200px;
   }
   input.reservation_form {
    width:180px;
    margin-left:5px;
    position: relative;
    top:30px;
    left:320px;
  }
  input.info_form {
    width:230px;
    position: relative;
    top:30px;
    margin-left:180px;
    left:290px;
  }
  .btn.btn-info {
    padding: 0.3rem 2rem;
    position: relative;
    margin-left:10px;
    top:30px;
    left:290px;
  }
  #now .icon img {
    width: 30px;
    height:30px;
 }

  img{
      width: 30px;
  }
  
  div#now {
      margin-left:1050px;
      font-size:10px;
  }
  
  .mt-4 {
      font-size:10px;
  }
  .sale_form {
    position:relative;
    top:50px;
    left:550px;
 }
  .btn.btn-info.sale {
   position:relative;
    top:50px;
    left:550px;
    text-align: center;
  }
  .sale_form {
  position:relative;
  top:110px;
  left:850px;
 }
 .btn.btn-info.sale {
 position:relative;
  top:110px;
  left:850px;
  text-align: center;
 }
 .top-menu {
  margin-bottom:200px;
 }
 .btn.btn-success {
  padding: 0.3rem 2rem;
  position: relative;
  margin-left:10px;
  top:30px;
  left:320px;
 }
}

@media screen and (min-width: 1300px) {
  a.btn.btn-primary {
    padding: 0.5rem 1.5rem;
    position: relative;
    right:200px;
   }
   a.btn.btn-secondary {
    padding: 0.5rem 1.5rem;
    position: relative;
    right:200px;
   }
   input.reservation_form {
    width:180px;
    margin-left:5px;
    position: relative;
    top:30px;
    left:470px;
  }
  input.info_form {
    width:230px;
    position: relative;
    top:30px;
    margin-left:180px;
    left:420px;
  }
  .btn.btn-info {
    padding: 0.3rem 2rem;
    position: relative;
    margin-left:10px;
    top:30px;
    left:430px;
  }
  #now .icon img {
    width: 30px;
    height:30px;
 }

  img{
      width: 30px;
  }
  
  div#now {
      margin-left:1050px;
      font-size:10px;
  }
  
  .mt-4 {
      font-size:10px;
  }
  .sale_form {
    position:relative;
    top:50px;
    left:550px;
 }
  .btn.btn-info.sale {
   position:relative;
    top:50px;
    left:550px;
    text-align: center;
  }
  .sale_form {
  position:relative;
  top:110px;
  left:850px;
  }
  .btn.btn-info.sale {
  position:relative;
   top:110px;
   left:850px;
   text-align: center;
  }
  .top-menu {
   margin-bottom:200px;
  }
  .btn.btn-success {
   padding: 0.3rem 2rem;
   position: relative;
   margin-left:10px;
   top:30px;
   left:470px;
  }
}
    